<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item active">
        <img
          src="{{ foto }}" onerror="this.src = 'https://media.istockphoto.com/vectors/profile-placeholder-image-gray-silhouette-no-photo-vector-id1016744034?k=20&m=1016744034&s=170667a&w=0&h=JlerB4H3IeLolDMQOYiAF9uLuZeW0bs4jH6NdrNPDtE='"
          alt=""
          width="50px"
          height="50px"
          class=" rounded-circle "
        />
      </li>
      <li class="nav-item pl-3">
        <p class="m-0 font-weight-bold text-white fs-16">Olá, {{ nome }}</p>
      </li>
      <li class="nav-item pl-3">
        <a [routerLink]="['/user-edit', id]">
        <p class="text-white fs-16 m-0">
            <i class="fa fa-pencil-square-o" aria-hidden="true"> </i>
          </p>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item pl-3">
        <a (click)="sair()" class="m-0 font-weight-bold text-white fs-16"
          >Sair <i class="fa fa-sign-out" aria-hidden="true"></i
        ></a>
      </li>
    </ul>
  </div>
</nav>
